/* ______GENERIC_______ */

/* maroon: rgb(252,204,255) */
/* pink: rgb(252,204,255) */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: 0.3s ease;
  box-sizing: border-box;
}

:root {
  --maroon: rgb(121, 16, 73);
  --dark-maroon: rgb(77, 7, 45);
  --pink: rgb(252, 204, 255);
}

body {
  background-color: var(--maroon);
}

#root,
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* ___________________________ */
/* _______MAIN STYLING________ */
/* ___________________________ */

/* NAVBAR */

header {
  padding-inline: 1em;
}

nav {
  border-bottom: 2px solid var(--pink);
  padding-block: 1.5em;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--pink);
}

.nav-brand-title {
  color: var(--pink);
}

/* MAIN CONTENT */

.main-content {
  width: 95%;
  max-width: 1400px;
  margin-top: 6em;
  margin-inline: auto;
}

.main-content > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-content .main-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.8em;
  text-align: start;
  color: var(--pink);
}

.main-text h1 {
  font-size: 2rem;
}

.main-text div {
  font-size: 1.2rem;
}

.main-form {
  display: grid;
  place-items: center;
  width: 100%;
}

.main-form form {
  color: var(--maroon);
  background-color: var(--pink);
  display: grid;
  gap: 1em;
  padding: 1.5em;
  border-radius: 1em;
}

.main-form form h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

.main-form form div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8em;
}

.main-form form div :is(input, textarea) {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border: 2px solid var(--maroon);
  font-family: "Roboto", sans-serif;
}

.main-form form textarea {
  padding: 1em;
}

.main-form form button {
  margin-inline: auto;
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 0.5em;
  background-color: var(--maroon);
  color: var(--pink);
  border: none;
}

.main-form form button:hover {
  background-color: var(--dark-maroon);
}

/* _______________________________ */
/* _________MEDIA QUERIES_________ */
/* _______________________________ */

@media (width < 650px) {
  .main-content > section {
    grid-template-columns: 1fr;

    gap: 1.5em;
  }

  .main-content .main-text {
    align-items: center;
    text-align: center;
  }
}
