/* ______GENERIC_______ */

/* maroon: rgb(252,204,255) */
/* pink: rgb(252,204,255) */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: 0.3s ease;
}

:root {
  --maroon: rgb(121, 16, 73);
  --pink: rgb(252, 204, 255);
}

body {
  background-color: var(--maroon);
}

#root,
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* ___________________________ */
/* _______MAIN STYLING________ */
/* ___________________________ */

/* NAVBAR */

header {
  padding-inline: 1em;
}

nav {
  border-bottom: 2px solid var(--pink);
  padding-block: 1em;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--pink);
}
